@font-face {
    font-family: 'MuseoCyrl-900';
    src: url('../fonts/MuseoCyrl-900.woff') format('woff'),
         url('../fonts/MuseoCyrl-900.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #202020;
}
img {
    max-width: 100%;
}
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 22px 0;
    background-color: #f1f1f1;
}
.header-container {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: auto;
}
.logo {
    font-weight: 700;
    text-transform: uppercase;
}
.nav-link {
    color: #202020;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 11px;
    margin-right: 11px;
}
.login {
    color: #202020;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}
.section-title {
    margin-top: 0;
    margin-bottom: 35px;
}
/* Главная секция */
.hero {
    padding-top: 62px;
    padding-bottom: 71px;
    margin-top: 60px;
}
.hero-container {
    display: flex;
    align-items: center;
    max-width: 1140px;
    margin: auto;
}
.image-block {
    position: relative;
    margin-right: 122px;
}
.sale-label {
    position: absolute;
    right: 0;
    top: 23px;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    background-color: #c93535;
    padding: 12px 17px;
}
.author {
    display: block;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 22px;
}
.title {
    font-family: 'MuseoCyrl-900', sans-serif;
    font-size: 54px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
}
.subtitle {
    display: block;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 48px;
}
.info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 49px;
}
.info-text {
    flex-basis: 45%;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}
.price {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}
.pricetag {    
    font-size: 55px;
    font-weight: 400;
    margin-right: 64px;
}
.favorites {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}
.love {
    display: flex;
    margin-right: 7px;
}
.button {
    font-size: 16px;
    font-weight: 700;
    padding: 22px 50px;
    border-radius: 5px;
    border: 2px solid transparent;
}
.button-primary {
    background-color: #f89c02;
    color: #fff;
    margin-right: 20px;
}
.button-outline {
    color: #f89c02;
    border: 2px solid #f89c02;
    text-decoration: none;
}
/* О книге */
.about {
    background-color: #f1f1f1;
    padding: 99px 0;
}
.about-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1140px;
    margin: auto;
}
.about-book {
    max-width: 454px;
    flex-shrink: 0;
}
.about-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.about-author {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 552px;
    box-shadow: 0 1px 120px rgba(161, 161, 161, 0.08);
    border-radius: 10px;
    border: 1px solid #f3f3f3;
    background-color: #ffffff;
    padding: 68px 53px;
}
.author-avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 21px;
}
.author-name {
    margin: 0;
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 700;
}
.author-link {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}
.author-text {
    margin-top: 24px;
    flex-basis: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.readers-container {
    max-width: 1140px;
    margin: auto;
}
.readers-title {
    margin-top: 87px;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 57px;
}
.readers-photo {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 109px;
}
.readership {
    width: 165px;
	height: 165px;
	margin: 15px;
	object-fit: cover
}
/* Подвал */
.footer {
    padding-top: 60px;
    padding-bottom: 93px;
    background-color: #f1f1f1;
}
.footer-container {
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.footer-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 32px;
    margin-top: 0;
}
.footer-list {
    padding: 0;
    list-style: none;
}
.list-item {
    margin-bottom: 16px;
}
.footer-link {
    color: inherit;
    text-decoration: none;
}
.requisites {
    margin-right: 168px;
}
.information {
    margin-right: 157px;
}
.to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 1px 120px rgba(161, 161, 161, 0.08);
    border-radius: 4px;
    border: 1px solid #eeeeee;
    background-color: #ffffff;
    padding: 18px;
}
/* Адаптация */
@media (max-width: 1200px) {
    .header-container, 
    .hero-container,
    .about-container,
    .readers-container,
    .footer-container{
       max-width: 960px;
   }
   .image-block {
       min-width: 390px;
       max-width: 390px;
       margin-right: 30px;
   }
   .about-book {
       max-width: 367px;
   }
   .readership {
       width: 139px;
       height: 139px;
       margin: 10px 10px;
   }
   .readers-photo {
        margin: 0 -15px 94px;
   }
  
}
@media (max-width: 992px) {
    .header-container, 
    .hero-container,
    .about-container,
    .readers-container,
    .footer-container{
        width: 85%;
   }
   .nav {
       display: none;
   }
   .image-block {
       min-width: 300px;
       max-width: 300px;
   }
   .author {
       font-size: 22px;
       margin-bottom: 13px;
   }
   .title {
       font-size: 46px;
       margin-bottom: 10px;
   }
   .subtitle {
       font-size: 24px;
       margin-bottom: 28px;
   }
   .info {
       margin-bottom: 39px;
   }
   .age, 
   .format {
       flex-grow: 1;
   }
   .price {
       margin-bottom: 39px;
   }
   .button {
       padding: 20px 40px;
   }
   .section-title {
       font-size: 24px;
       margin-bottom: 29px;
   }
   .about-container {
       flex-wrap: wrap;
   }
   .about-book {
       max-width: 100%;
       margin-bottom: 62px;
   }
   .readership:nth-child(n+9) {
        display: none;
   }
   .readers-photo {
        margin: 0 -12px 81px;
   }
   .requisites,
   .information {
    margin-right: 60px;
   }
   .readership {
       width: 165px;
       height: 165px;
   }
}
@media (max-width: 768px) {
    .header-container, 
    .hero-container,
    .about-container,
    .readers-container,
    .footer-container{
       max-width: 560px;
   }
   .hero-container {
       flex-wrap: wrap;
   }
   .hero {
       padding-top: 40px;
   }
   .image-block {
       min-width: 100%;
       margin-bottom: 60px;
   }
   .hero-image {
       min-width: 100%;
   }
   .readership:nth-child(n+7) {
    display: none;
   }
   .requisites{
       margin-right: 40px;
       margin-bottom: 60px;
   }
   .information {
       margin-right: 0;
   }
}
@media (max-width: 576px) {
    .header-container, 
    .hero-container,
    .about-container,
    .readers-container,
    .footer-container{
       width: 85%;
   }
   .author {
       font-size: 18px;
       margin-bottom: 16px;
   }
   .title {
       font-size: 36px;
       margin-bottom: 19px;
   }
   .subtitle {
       font-size: 20px;
       margin-bottom: 30px;
   }
   .info {
       flex-wrap: wrap;
       margin-bottom: 17px;
   }
   .info-text {
       flex-basis: 100%;
       margin-bottom: 19px;
   }
   .button {
       width: 100%;
       display: inline-block;
       text-align: center;
   }
   .button-primary {
       margin-right: 0;
       margin-bottom: 20px;
   }
   .about-book {
       margin-bottom: 70px;
   }
   .about-author {
       padding: 54px 44px;
   }
   .author-text {
       font-size: 14px;
   }
   .author-avatar {
       width: 64px;
       height: 64px;
   }
   .author-name {
        margin-top: 20px;
   }
   .requisites,
   .information,
   .contacts {
       flex-basis: 100%;
       margin-bottom: 36px;
       margin-right: 0;
   }
   .footer-title {
       font-size: 18px;
       margin-bottom: 32px;
   }
   .footer-link {
       font-size: 16px;
   }
   .favorites {
       display: none;
   }
   .readership {
        width: 144px;
        height: 144px;
   }
   .readers-photo {
        margin: 0 -12px 69px;
   }
   .sale-label {
       display: none;
   }
}
@media (max-width: 480px){
    .header-container, 
    .hero-container,
    .about-container,
    .readers-container,
    .footer-container{
       width: 85%;
   }
   .author {
       font-size: 16px;
       margin-bottom: 16px;
   }
   .author-name {
       font-size: 16px;
   }
   .author-link {
       font-size: 14px;
   }
   .about-author {
       padding: 54px 30px;
   }
   .title {
       font-size: 24px;
       font-weight: 700;
       margin-bottom: 11px;
   }
   .subtitle {
       font-size: 18px;
       margin-bottom: 35px;
   }
   .info {
       flex-wrap: wrap;
       margin-bottom: 17px;
   }
   .info-text {
       flex-basis: 100%;
       margin-bottom: 19px;
   }
   .readers-title {
        font-size: 24px;
        font-weight: 700;
   }
    .readers-photo {
        margin: 0 -12px 60px;
    }
   .readership:nth-child(n+5) {
        display: none;
   }
   .readership {
        width: 165px;
        height: 165px;
        margin: 12px;
   }
   .sale-label {
       display: none;
   }
}
@media (max-width: 320px){
    .header-container, 
    .hero-container,
    .about-container,
    .readers-container,
    .footer-container{
       width: 85%;
   }
   .author {
       font-size: 16px;
       margin-bottom: 16px;
   }
   .about-author {
        padding: 54px 30px;
   }
   .title {
       font-size: 24px;
       margin-bottom: 19px;
   }
   .subtitle {
       font-size: 18px;
       margin-bottom: 35px;
   }
   .info {
       flex-wrap: wrap;
       margin-bottom: 17px;
   }
   .info-text {
       flex-basis: 100%;
       margin-bottom: 19px;
   }
   .readership {
        width: 124px;
        height: 125px;
        margin: 12px;
   }
    .readers-photo {
        margin: 0 -12px 60px;
    }
   .readership:nth-child(n+5) {
        display: none;
   }
   .sale-label {
       display: none;
   }
}

